{{#category}}<h2>Edit Category #{{id}}</h2>
<form action="admin/category/edit?id={{id}}" method="post">
	{{#status_message}}<p class="status {{type}}">{{message}}</p>{{/status_message}}
<ul>
	<li>
		<label for="name">Name</label>
		<input name="name" id="name" value="{{name}}" />
	</li>
	<li>
		<input type="submit" value="Submit Changes">
	</li>
</ul>{{/category}}