<h2>All Categories</h2>
{{#status_message}}<p class="status {{type}}">{{message}}</p>{{/status_message}}
<h3><a href="admin/category/add">Add A Category</a></h3>
<ul>
	{{#categories}}<li>
		<h3>{{name}}</h3>
		<p><a href="admin/category/edit?id={{id}}">Edit</a></p>
	</li>{{/categories}}
</ul>