<html>
	<head>
		<title>Pico-Cart</title>
		<base href="{{base}}" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="page_header">
			<h1>Pico-Cart</h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="admin/product/index">Products</a></li>
				<li><a href="admin/category/index">Categories</a></li>
			</ul>
		</div>
		<div id="page_content">
			{{{body}}}
		</div>
	</body>
</html>