<h2>All Products</h2>
{{#status_message}}<p class="status {{type}}">{{message}}</p>{{/status_message}}
<ul>
	{{#products}}<li>
		<h3>{{name}}</h3>
		<h4>{{price}}</h4>
		<p>Category: {{#product_category}}{{name}}{{/product_category}}
		<p>{{description}}</p>
		<p><a href="admin/product/edit?id={{id}}">Edit</a></p>
	</li>{{/products}}
</ul>